In [1]:
import os
import torch
import numpy as np
import pandas as pd

from torch import nn
from torch.utils.data import DataLoader
from torchvision import datasets, transforms

from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import LSTM, Masking

from io import open
import glob
import os
import string

In [12]:

all_letters = string.ascii_letters[:26]

# Find letter index from all_letters, e.g. "a" = 0
def letterToIndex(letter):
    return all_letters.find(letter)

# Just for demonstration, turn a letter into a <1 x n_letters> Tensor
def letterToTensor(letter):
    tensor = torch.zeros(1, n_letters)
    tensor[0][letterToIndex(letter)] = 1
    return tensor

# Turn a line into a <line_length x 1 x n_letters>,
# or an array of one-hot letter vectors
def lineToTensor(line):
    tensor = torch.zeros(len(line), 1, n_letters)
    for li, letter in enumerate(line):
        tensor[li][0][letterToIndex(letter)] = 1
    return tensor

'abcdefghijklmnopqrstuvwxyz'

In [3]:
file_path = "C:/Users/cowpo/Downloads/dataset.txt"
df = pd.read_csv(file_path, header = None)

df.head()

        0       1
0     ___     aaa
1  ______  aaaaaa
2    ____    aaas
3  ______  aachen
4    ____    aaee

In [4]:
X = df[1]
#need to tokenize X first I think.
#padded_sequences = pad_sequences(sequences, padding='post')

# 29 seems to be the longest word in this dataset
# max_len = 0
# for word in X:
#     max_len = max(max_len,len(word))
# max_len

#need way to deal with varying input lengths    
X

0             aaa
1          aaaaaa
2            aaas
3          aachen
4            aaee
           ...
227295     zythia
227296    zyzomys
227297    zyzzyva
227298         zz
227299        zzz
Name: 1, Length: 227300, dtype: object